__pycache__
*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
.idea
data
.env
gt_ply
train_log_*
config/bck
ppe_output
isaacgym
real_capture